name: casino_companion
description: "Your ultimate casino gaming tracker and analyzer."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.3.0+1

environment:
  sdk: ^3.9.2

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  
  # State Management
  provider: ^6.1.2
  
  # Local Storage
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  shared_preferences: ^2.3.3
  path_provider: ^2.1.5
  
  # Charts & Visualizations
  fl_chart: ^0.69.2
  
  # UI Utilities
  intl: ^0.19.0
  
  # Biometrics
  local_auth: ^2.3.0
  
  # Utils
  collection: ^1.18.0
  
  # Image Picker
  image_picker: ^1.0.7
  permission_handler: ^11.3.0

  onesignal_flutter: ^5.3.4
  appsflyer_sdk: ^6.14.3
  flutter_inappwebview: ^6.1.5
  http: ^1.2.2
  app_tracking_transparency: ^2.0.6+1
  advertising_id: ^2.7.1
  uuid: ^4.2.1

  app_settings: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  
  # Code Generation
  build_runner: ^2.4.13

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    # Branding
    - assets/images/branding/logo.png
    - assets/images/branding/logo-no-bg.png
    
    # Game Icons
    - assets/icons/games/slots.png
    - assets/icons/games/blackjack.png
    - assets/icons/games/poker.png
    - assets/icons/games/roulette.png
    - assets/icons/games/craps.png
    - assets/icons/games/baccarat.png
    
    # Tab Bar Icons
    - assets/icons/tabs/home.png
    - assets/icons/tabs/session.png
    - assets/icons/tabs/analyze.png
    - assets/icons/tabs/bankroll.png
    - assets/icons/tabs/more.png
    
    # Achievement Badges
    - assets/icons/badges/first_win.png
    - assets/icons/badges/weekend_warrior.png
    - assets/icons/badges/big_win.png
    - assets/icons/badges/winning_streak.png
    - assets/icons/badges/discipline_master.png
    - assets/icons/badges/bankroll_builder.png
    - assets/icons/badges/data_analyst.png
    - assets/icons/badges/responsible_player.png
    
    # Empty State Images
    - assets/images/empty_states/no_sessions.png
    - assets/images/empty_states/no_notes.png
    - assets/images/empty_states/no_achievements.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
